:root {
    font-family: Inter, sans-serif;
    --brandDarkBlue: #002a41;
    --brandLightBlue: #0098D6;
    --brandRed: #ab1269; 
    --brandYellow: #F1C500;

}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    opacity: 1;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}


svelte-scroller-foreground.svelte-xdbafy {
    max-width: fit-content;
}

.mapboxgl-popup-content {
    width: fit-content;
    padding: 2em;
}