:root {
    font-family: Inter, sans-serif;
    --brandDarkBlue: #002940;
    --brandLightBlue: #00adf2;
    --brandGreen: #58e965;

    --brandGrey: #dddddd;

    --brandRed: #cb1515; 
    --brandYellow: #F1C500;

    --range-slider:          #dadcdc; /* slider main background color */
    --range-handle-inactive: #dadcdc; /* inactive handle color */
    --range-handle:          var(--brandLightBlue); /* non-focussed handle color */
    --range-handle-focus:    var(--brandLightBlue); /* focussed handle color */
    --range-handle-border:   var(--range-handle);
    --range-range-inactive:  var(--range-handle-inactive); /* inactive range bar background color */
    --range-range:           var(--range-handle-focus); /* active range bar background color */
    --range-float-inactive:  var(--range-handle-inactive); /* inactive floating label background color */
    --range-float:           var(--range-handle-focus); /* floating label background color */
    --range-float-text:      white; /* text color on floating label */

}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    opacity: 1;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
  }

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.mapboxgl-popup-content {
    width: 150%;
  }

.rangeSlider {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    border-radius: 0.2em;
    border: 1px solid rgba(27, 31, 35, 0.3);
	background-color: rgb(250, 251, 252);
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
			rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    width: 90%;
}


.rangeSlider > .rangeHandle:hover {
    cursor: pointer;
}

.rangeSlider .rangeHandle.active .rangeNub {
    background-color: var(--brandLightBlue);
    border: 1px solid rgba(27, 31, 35, 0.3);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;

}

.rangeSlider .rangeHandle .rangeNub {
    /* background-color: var(--brandLightBlue); */
    border: 1px solid rgba(27, 31, 35, 0.3);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    border-radius: 0.5em;

}

.rangeSlider > .rangePips > .pip {
    background-color: var(--brandLightBlue);
    font-size: 0.8em;
}

.rangeSlider > .rangePips .pip.selected {
    background-color: var(--brandLightBlue);
}

.rangeSlider > .rangePips > .pip > .pipVal {
    color: var(--brandLightBlue);
}  

.rangeSlider > .rangePips > .pip.selected > .pipVal {
    color:var(--brandLightBlue);
    font-weight: bold;
}  

.tick {
    font-size:0.5em;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--brandDarkBlue);
    font-size: 2em;
    letter-spacing: -0.1rem;
    margin-top: 1em;
}

h2 {
    padding: 0;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--brandDarkBlue);
    margin: 0;

}

h4 {
    font-family: 'Inter', sans-serif;
    color: var(--brandDarkBlue);
    margin: 0 auto;
    font-weight: 500;
}

h3, h5 {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: var(--brandDarkBlue);
}



.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 2em;
}

.subtitle {
    display: flex;
    margin: 0 0 0 2em;
}

.marker {
    cursor:pointer;
}


.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
    border-radius: 0.5em;
    box-shadow: none!important;
    border: 1px solid #ddd;
}



button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04),
        inset 0px 1px 0px 0px hsla(0, 0%, 100%, 0.25);
    background-color: #f3f4f6;
    transition: 0.3s;
}

button:active {
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.04),
        inset 0px 1px 0px 0px hsla(0, 0%, 100%, 0.25), 0px 1px 0px 0px rgba(225, 228, 232, 0.2);
    background-color: #edeff2;
    transition: 0.3s;
}