:root {
    font-family: Inter, sans-serif;
    --brandDarkBlue: #002a41;
    --brandLightBlue: #0098D6;
    --brandGrey: #dddddd;

    --brandRed: #ab1269; 
    --brandYellow: #F1C500;

    --range-slider:          #dadcdc; /* slider main background color */
    --range-handle-inactive: #dadcdc; /* inactive handle color */
    --range-handle:          var(--brandLightBlue); /* non-focussed handle color */
    --range-handle-focus:    var(--brandLightBlue); /* focussed handle color */
    --range-handle-border:   var(--range-handle);
    --range-range-inactive:  var(--range-handle-inactive); /* inactive range bar background color */
    --range-range:           var(--range-handle-focus); /* active range bar background color */
    --range-float-inactive:  var(--range-handle-inactive); /* inactive floating label background color */
    --range-float:           var(--range-handle-focus); /* floating label background color */
    --range-float-text:      white; /* text color on floating label */

}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    opacity: 1;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}


svelte-scroller-foreground.svelte-xdbafy {
    max-width: fit-content;
}

.mapboxgl-popup-content {
    width: fit-content;
    padding: 2em;
}

.rangeSlider {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    border-radius: 0.2em;
    border: 1px solid rgba(27, 31, 35, 0.3);
	background-color: rgb(250, 251, 252);
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
			rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    width: 90%;
}


.rangeSlider > .rangeHandle:hover {
    cursor: pointer;
}

.rangeSlider .rangeHandle.active .rangeNub {
    background-color: var(--brandLightBlue);
    border: 1px solid rgba(27, 31, 35, 0.3);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;

}

.rangeSlider .rangeHandle .rangeNub {
    /* background-color: var(--brandLightBlue); */
    border: 1px solid rgba(27, 31, 35, 0.3);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    border-radius: 0.5em;

}

.rangeSlider > .rangePips > .pip {
    background-color: var(--brandLightBlue);
    font-size: 0.8em;
}

.rangeSlider > .rangePips .pip.selected {
    background-color: var(--brandLightBlue);
}

.rangeSlider > .rangePips > .pip > .pipVal {
    color: var(--brandLightBlue);
}  

.rangeSlider > .rangePips > .pip.selected > .pipVal {
    color:var(--brandLightBlue);
    font-weight: bold;
}  

.mapboxgl-popup-content {
    padding: 15px 15px 10px;
}

.tick {
    font-size:0.5em;
}

h5, h3 {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: var(--brandDarkBlue);
}

h1 {
    font-family: 'Gelasio', serif;
    color: var(--brandLightBlue);
    font-weight: 400;
    margin:0.2em auto;
}

.hero {
    display:flex;
    flex-direction: column;
}