@import 'tailwindcss';
:root {
	--color-green: #58e965;
	--color-green-50: #d2f9d5;
	--color-green-100: #a4f3ab;
	--color-green-200: #58e965;
	--color-green-300: hsl(142, 77%, 73%);
	--color-green-400: #34d09f;
	--color-green-500: #2b8751;
	--color-green-600: #226a40;
	--color-green-700: #164328;
	--color-green-800: #0a1f13;
	--color-green-900: #06130c;
	--color-blue: #00adf2;
	--color-blue-50: #d5f3ff;
	--color-blue-100: #b4eaff;
	--color-blue-200: #8fdfff;
	--color-blue-300: #36c6ff;
	--color-blue-400: #00adf2;
	--color-blue-500: #007aa6;
	--color-blue-600: #00648d;
	--color-blue-700: #003f5e;
	--color-blue-800: #002940;
	--color-blue-900: #00131e;
	--color-pink: #db3069;
	--color-pink-50: #fcebf1;
	--color-pink-100: #f9dae4;
	--color-pink-200: #f5c8d7;
	--color-pink-300: #efa4bd;
	--color-pink-400: #e87ca0;
	--color-pink-500: #db3069;
	--color-pink-600: #b31f51;
	--color-pink-700: #721433;
	--color-pink-800: #370919;
	--color-pink-900: #250610;
	--color-yellow: #f1c500;
	--color-yellow-50: #ffefa9;
	--color-yellow-100: #ffe053;
	--color-yellow-200: #f1c500;
	--color-yellow-300: #deb500;
	--color-yellow-400: #bd9b00;
	--color-yellow-500: #8e7400;
	--color-yellow-600: #715c00;
	--color-yellow-700: #473a00;
	--color-yellow-800: #201b00;
	--color-yellow-900: #151100;
	--color-zinc-50: #f4f4f5;
	--color-zinc-100: #e1e1e2;
	--color-zinc-200: #d4d4d4;
	--color-zinc-300: #bdbdbd;
	--color-zinc-400: #999999;
	--color-zinc-500: #777777;
	--color-zinc-600: #555555;
	--color-zinc-700: #3b3b3b;
	--color-zinc-800: #222222;
	--color-zinc-900: #111111;
	--color-slate: #002940;
	--color-slate-50: #eceff1;
	--color-slate-100: #cdd5d9;
	--color-slate-200: #cdd5d9;
	--color-slate-300: #aebbc3;
	--color-slate-400: #8ea1ab;
	--color-slate-500: #617a89;
	--color-slate-600: #446273;
	--color-slate-700: #1a3e53;
	--color-slate-800: #002940;
	--color-slate-900: #00131e;
	--background: #ffffff;
}
